{% extends 'base.html.twig' %}

{% block title %}Game {{ game.team1Name }} vs {{ game.team2Name }}{% endblock %}

{% block body %}
    <p>{{ game.team1Name }} (<strong>{{ game.team1Score }}</strong>) -
        (<strong>{{ game.team2Score }}</strong>) {{ game.team2Name }}</p>
{% endblock %}