{% extends 'base.html.twig' %}

{% block title %}Game {{ game.team1.country.name }} vs {{ game.team2.country.name }}{% endblock %}

{% block body %}
    <p>{{ game.team1.country.name }} (<strong>{{ game.scoreTeam1 }}</strong>) -
        (<strong>{{ game.scoreTeam2 }}</strong>) {{ game.team2.country.name }}</p>
{% endblock %}