{% extends 'base.html.twig' %}

{% block title %}Euro 2016 bracket{% endblock %}

{% block body %}
    <div class="gracket"></div>
{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script type="text/javascript">
         bracketData = [

             [
                 {% for i in 0..7 %}
                    {% if round1_8[i] is defined %}
                        [{"name": '{{ round1_8[i].team1Name }}',
                          "id": '{{ round1_8[i].team1Name }}',
                          "seed": '<img src="{{ round1_8[i].team1Image }}">'},
                         {"name": '{{ round1_8[i].team2Name }}',
                          "id": '{{ round1_8[i].team2Name }}',
                          "seed": '<img src="{{ round1_8[i].team2Image }}">'}
                         ],
                    {% else %}
                         [{"name": "", "id": ""}, {"name": "", "id": ""}],
                    {% endif %}
                 {% endfor %}

             ],
             [
                 {% for i in 0..3 %}
                     {% if round1_4[i] is defined %}
                        [{"name": '{{ round1_4[i].team1Name }}',
                          "id": '{{ round1_4[i].team1Name }}',
                          "seed": '<img src="{{ round1_4[i].team1Image }}">'},
                         {"name": '{{ round1_4[i].team2Name }}',
                          "id": '{{ round1_4[i].team2Name }}',
                          "seed": '<img src="{{ round1_4[i].team2Image }}">'}
                     ],
                     {% else %}
                        [{"name": "", "id": ""}, {"name": "", "id": ""}],
                     {% endif %}
                 {% endfor %}
             ],
             [
                 {% for i in 0..1 %}
                     {% if round1_2[i] is defined %}
                         [{"name": '{{ round1_2[i].team1Name }}',
                           "id": '{{ round1_2[i].team1Name }}',
                           "seed": '<img src="{{ round1_[i].team1Image }}">'},
                          {"name": '{{ round1_2[i].team2Name }}',
                           "id": '{{ round1_2[i].team2Name }}',
                           "seed": '<img src="{{ round1_2[i].team2Image }}">'}
                         ],
                     {% else %}
                        [{"name": "", "id": ""}, {"name": "", "id": ""}],
                     {% endif %}
                 {% endfor %}
             ],
             [
                 {% if roundFinal[0] is defined %}
                    [{"name": '{{ roundFinal[0].team1Name }}',
                      "id": '{{ roundFinal[0].team1Name }}',
                      "seed": '<img src="{{ roundFinal[0].team1Image }}">'},
                     {"name": '{{ roundFinal[0].team2Name }}',
                      "id": '{{ round1_2[i].team2Name }}',
                      "seed": '<img src="{{ roundFinal[0].team2Image }}">'}
                 ],
                 {% else %}
                    [{"name": "", "id": ""}, {"name": "", "id": ""}],
                 {% endif %}
             ],
             [
                 {% if winner is empty %}
                    [{"name": "", "id": ""}],
                 {% else %}
                    [{"name": '{{ winner.team1Name }}',
                      "id": '{{ winner.team1Name }}',
                      "seed": '<img src="{{ winner.team1Image }}">'}]
                 {% endif %}
             ]
         ];
         // initializer
         $(".gracket").gracket({
             src: bracketData,
             canvasLineColor: "#000",
             roundLabels: ["1/8", "1/4", "1/2", "Final", "Winner"]
         });

     </script>
 {% endblock %}

