{% extends 'base.html.twig' %}

{% block title %}Euro 2016 bracket{% endblock %}

{% block body %}
    <div class="gracket"></div>
{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script type="text/javascript">
         bracketData = [

             [
                 {% for i in 0..7 %}
                    {% if round1_8[i] is defined %}
                        [{"name": '{{ round1_8[i].game.team1.country.name }}',
                          "id": '{{ round1_8[i].game.team1.country.name }}',
                          "seed": '<img src="{{ round1_8[i].game.team1.country.image }}">',
                          "score": '{{ round1_8[i].game.scoreTeam1 }}'
                        },
                         {"name": '{{ round1_8[i].game.team2.country.name }}',
                          "id": '{{ round1_8[i].game.team2.country.name }}',
                          "seed": '<img src="{{ round1_8[i].game.team2.country.image }}">',
                          "score": '{{ round1_8[i].game.scoreTeam2 }}'
                         }
                         ],
                    {% else %}
                         [{"name": "", "id": ""}, {"name": "", "id": ""}],
                    {% endif %}
                 {% endfor %}

             ],
             [
                 {% for i in 0..3 %}
                     {% if round1_4[i] is defined %}
                 [{"name": '{{ round1_4[i].game.team1.country.name }}',
                     "id": '{{ round1_4[i].game.team1.country.name }}',
                     "seed": '<img src="{{ round1_4[i].game.team1.country.image }}">',
                     "score": '{{ round1_8[i].game.scoreTeam1 }}'
                 },
                     {"name": '{{ round1_4[i].game.team2.country.name }}',
                         "id": '{{ round1_4[i].game.team2.country.name }}',
                         "seed": '<img src="{{ round1_4[i].game.team2.country.image }}">',
                         "score": '{{ round1_8[i].game.scoreTeam2 }}'
                     }
                 ],
                     {% else %}
                        [{"name": "", "id": ""}, {"name": "", "id": ""}],
                     {% endif %}
                 {% endfor %}
             ],
             [
                 {% for i in 0..1 %}
                     {% if round1_2[i] is defined %}
                 [{"name": '{{ round1_2[i].game.team1.country.name }}',
                     "id": '{{ round1_2[i].game.team1.country.name }}',
                     "seed": '<img src="{{ round1_2[i].game.team1.country.image }}">',
                     "score": '{{ round1_8[i].game.scoreTeam1 }}'
                 },
                     {"name": '{{ round1_2[i].game.team2.country.name }}',
                         "id": '{{ round1_2[i].game.team2.country.name }}',
                         "seed": '<img src="{{ round1_2[i].game.team2.country.image }}">',
                         "score": '{{ round1_8[i].game.scoreTeam2 }}'
                     }
                 ],
                     {% else %}
                        [{"name": "", "id": ""}, {"name": "", "id": ""}],
                     {% endif %}
                 {% endfor %}
             ],
             [
                 {% if roundFinal[0] is defined %}
                 [{"name": '{{ roundFinal[0] .game.team1.country.name }}',
                     "id": '{{ roundFinal[0] .game.team1.country.name }}',
                     "seed": '<img src="{{ roundFinal[0] .game.team1.country.image }}">',
                     "score": '{{ roundFinal[0] .game.scoreTeam1 }}'},
                     {"name": '{{ roundFinal[0] .game.team2.country.name }}',
                         "id": '{{ roundFinal[0] .game.team2.country.name }}',
                         "seed": '<img src="{{ roundFinal[0].game.team2.country.image }}">',
                         "score": '{{ roundFinal[0] .game.scoreTeam2 }}'},
                 ],
                 {% else %}
                    [{"name": "", "id": ""}, {"name": "", "id": ""}],
                 {% endif %}
             ],
             [
                 {% if winner is empty %}
                    [{"name": "", "id": ""}],
                 {% else %}
                    [{"name": '{{ winner.country.name }}',
                      "id": '{{ winner.country.name }}',
                      "seed": '<img src="{{ winner.country.image }}">'}]
                 {% endif %}
             ]
         ];
         // initializer
         $(".gracket").gracket({
             src: bracketData,
             canvasLineColor: "#000",
             roundLabels: ["1/8", "1/4", "1/2", "Final", "Winner"]
         });

     </script>
 {% endblock %}

